<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">
			<img src="/img/logo-text.png" alt="Bit Phoenix Software" class="db w4 center mb4 br0">
		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">Bit Phoenix Software</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Home</a></li>
					<li><a href="/about" class="link">About us</a></li>
					<li><a href="/games" class="link">Games</a></li>
					<li><a href="/post" class="link">Blog</a></li>
					<li><a href="/contact" class="link">Contact</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">Developers</h3>
				<ul class="mb3">
					<li><a href="https://dev.bitphoenixsoftware.com/" class="link">Developer resources</a></li>
					<li><a href="https://github.com/alkalinethunder/bitphoenix-website" class="link">Website source code</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">Community</h3>
				<ul class="mb3">
					<li><a href="https://twitter.com/bitphoenixsoft" class="link">Twitter</a></li>
					<li><a href="https://github.com/bitphoenixsoftware" class="link">GitHub</a></li>
					<li><a href="https://bitphoenixsoftware.itch.io/" class="link">Itch</a></li>
				</ul>
			</div>
			
		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>
